# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Code
source/\.vscode/
\.vscode/

# Scene files
files/

# Executable
raytracer

# Output images
*.png
*.jpg
*.jpeg
*.exr
*.ppm
